.control-row {
  align-items: flex-end;
}

.control {
    width: 100%;
    display: flex;
    justify-content: center; /* Centers the button */
    align-items: center;
    padding: 10px 0;
  }

.button {
  padding: 0.6rem 1.75rem;
  
  display: block;
  margin: auto; /* Centers the button */
  text-align: center;
}

.sign-up{
  justify-content: center; 
  text-align: center;
  background-color: rgb(20, 123, 115);
  color: #9cbaba;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  
}

h2 {
  color: #9cbaba;
  text-align: center;
}
/* 
Centering the text button
.text-button {
  display: block;
  text-align: center;
  margin-top: 10px;
  color: blue;
  background: none;
  border: none;
  cursor: pointer;
} */
