<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h2>Welcome on board!</h2>
  <p>We just need a little bit of data from you to get you started 🚀</p>

  <div class="control">
    <label for="email">Email</label>
    <input id="email" type="email" formControlName="email" />
    @if (emailError) {
      <p class="error-message">Email already exists</p>
    }
  </div>

  <div class="control">
    <label for="first-name">First Name</label>
    <input id="first-name" type="text" formControlName="firstName" />
    @if (firstNameError) {
      <p class="error-message">First name is required</p>
    }
  </div>

  <div class="control">
    <label for="last-name">Last Name</label>
    <input id="last-name" type="text" formControlName="lastName" />
    @if (lastNameError) {
      <p class="error-message">Last name is required</p>
    }
  </div>

  <div class="control">
    <label for="password">Password</label>
    <input id="password" type="password" formControlName="passwords.password" />
  </div>

  <div class="control">
    <label for="confirm-password">Confirm Password</label>
    <input id="confirm-password" type="password" formControlName="passwords.confirmPassword" />
    @if (passwordMismatch) {
      <p class="error-message">Passwords do not match!</p>
    }
  </div>

  <p class="form-actions">
    <button type="button" class="button button-flat" (click)="onReset()">Reset</button>
    <button type="submit" class="button">Sign up</button>
  </p>

  <a routerLink="/">Back</a>
</form>
